#main-body {
    background-color: #28a2e4;
    background: url(./background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.nav-img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    object-fit: cover;
}

.big-img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
}

.users-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.user-card {
    width: 202px;
}
