body {
    background-color: ghostwhite;
}

img {
    width: 200px;
}

.small-pic img {
    width: 70px;
    cursor: pointer;
}

.find-people {
    cursor: pointer;
}

.big-pic {
    width: 200px;
}

.new-users {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.other-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-users img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.found-users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.found-users img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

/* not work */
.logo {
    cursor: default;
}
