/* * {
    background-color: #28a2e4;
} */

.nav-img {
    width: 70px;
    cursor: pointer;
    object-fit: cover;
}

.big-img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
}

.users-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.user-card {
    width: 202px;
}



/* OLD VERSION */

/* body {
    background-color: ghostwhite;
}

img {
    width: 200px;
}

.small-pic img {
    width: 70px;
    cursor: pointer;
}

.find-people,
.friends {
    cursor: pointer;
}

.big-pic {
    width: 200px;
}

.new-users {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.other-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-users img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.found-users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.found-users img {
    width: 70px;
    height: 70px;
    object-fit: cover;
} */

/* not work */
/* 
.logo {
    cursor: default;
} */

